altair
annotated-types
attrs
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
cymem
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl#sha256=e451a83d6df79b87e9eed0cb553f03e99e36a3bab18a7b79f0dcfd1fdf875e12
et_xmlfile
fastexcel
fuzzywuzzy
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
langcodes
language_data
Levenshtein
lxml
marisa-trie
markdown-it-py
MarkupSafe
mdurl
more-itertools
murmurhash
narwhals
numpy
openpyxl
packaging
pandas
pillow
polars
preshed
protobuf
pyarrow
pyasn1
pydantic
pydantic_core
pydeck
Pygments
pyperclip
PyQt6
PyQt6-Qt6
PyQt6_sip
PySide6
PySide6_Addons
PySide6_Essentials
PySimpleGUI
python-dateutil
python-docx
pytz
RapidFuzz
referencing
requests
rich
rpds-py
rsa
setuptools
shellingham
shiboken6
six
smart_open
smmap
spacy
spacy-legacy
spacy-loggers
srsly
streamlit
tenacity
thinc
toml
tornado
tqdm
typer
typing-inspection
typing_extensions
tzdata
ujson
urllib3
wasabi
watchdog
weasel
wheel
wrapt
xlrd
